############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


#### JAVA ####
# COMPILER
*.class

# Package Files #
*.war
*.ear

### NETBEANS ###
nbproject/*
build/*
build.xml
manifest.mf
/dist/
/Hackers/nbproject/private/